.header {
  margin-top: 25px;
  min-height: 60px;
}

.logo h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.logo h1 span:first-of-type {
  padding: 0px 15px;
  border: 1px solid #ddd;
  margin-right: 0px;
  color: #d19c97;
}

.search-product input {
  border: 1px solid #ddd;
  font-size: 18px;
  height: 40px;
  width: 70%;
  padding: 10px;
  color: #666;
  border-radius: 0;
  border-right: 0;
}

.search-product input:focus {
  outline: none;
}

.search-product button {
  border: 1px solid #ddd;
  height: 40px;
  border-radius: 0;
  margin: -6px;
  font-size: 16px;
  color: #d19c97;
  background-color: #fff;
  padding: 10px;
}

.selected-product {
  text-align: right;
}

.full-banner-wrapper {
  border-top: 1px solid #ddd;
}

.list-header {
  height: 65px;
  background-color: #d19c97;
}

.list-header h4 {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
}

.list-header span {
  float: right;
  padding: 24px;
}

.category-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ddd;
}

.category-list ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
}

.category-list ul li a {
  color: #333;
  text-decoration: none;
}
